<!DOCTYPE html>
<html>
<head>
    <title>CampusOS Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>CampusOS Dashboard</h1>
    <p>Welcome to your Smart Campus Management System 🎓</p>
    <form action="/search" method="GET">

    <input type="text" name="query" placeholder="Search CampusOS...">

    <button type="submit">Search</button>

</form>

    <div class="card-container">

        <!-- Profile -->
        <div class="card">
            <h3>👤 Profile</h3>
            <p>View your student details</p>

            <a href="/profile">
                <button>Open</button>
            </a>
        </div>

        <!-- Events -->
        <div class="card">
            <h3>📅 Events</h3>
            <p>Explore upcoming campus events</p>

            <a href="/events">
                <button>Open</button>
            </a>
        </div>

        <!-- Notices -->
        <div class="card">
            <h3>📢 Notices</h3>
            <p>Check latest campus announcements</p>

            <a href="/notices">
                <button>Open</button>
            </a>
        </div>

        <!-- Study Materials -->
        <div class="card">
            <h3>📚 Study Materials</h3>
            <p>Access notes and learning resources</p>

            <a href="/study_materials">
                <button>Open</button>
            </a>
        </div>

        <!-- Academic Calendar -->
        <div class="card">
            <h3>🗓️ Academic Calendar</h3>
            <p>View important academic dates</p>

            <a href="/calendar">
                <button>Open</button>
            </a>
        </div>

        <!-- Placements -->
        <div class="card">
            <h3>💼 Placements</h3>
            <p>Check latest placement opportunities</p>

            <a href="/placements">
                <button>Open</button>
            </a>
        </div>

        <!-- Feedback -->
        <div class="card">
            <h3>💬 Feedback</h3>
            <p>Share your feedback with the college</p>

            <a href="/feedback">
                <button>Open</button>
            </a>
        </div>

        <!-- AI Assistant -->

     <div class="card">

         <h3>🤖 AI Assistant</h3>

         <p>Get smart answers about CampusOS</p>

         <a href="/ai_assistant">
           <button>Open</button>
         </a>

     </div>

    </div>

    <br><br>

    <a href="/logout">
        <button>Logout</button>
    </a>

</div>

</body>
</html>
```
