```html
<!DOCTYPE html>
<html>
<head>
    <title>CampusOS Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h1>CampusOS Login</h1>

    <form method="POST" action="/login">

        <input type="email" name="email" placeholder="Enter Email" required>
        <br><br>

        <input type="password" name="password" placeholder="Enter Password" required>
        <br><br>

        <button type="submit">Login</button>

    </form>

    <br>

    <p>
        New student?
        <a href="/register">Create new account</a>
    </p>

</div>

</body>
</html>
```
